[run]
branch = True
source = src
relative_files = True
omit =
    src/test_utils/*
    src/streamlit/*
    src/evaluation/*
    src/interfaces/web/*
    */tests/*
    */__pycache__/*
    */migrations/*
    */dependency_injector/*
    *.pyx

[report]
precision = 1
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

[html]
directory = htmlcov

[xml]
output = coverage.xml

[json]
output = coverage.json
